.navbar {
    padding-bottom: 50px;
}

.navbarFixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbarLayout {
    height: 50px;
    display: flex;
    justify-content: center;
}

.navbarLayoutItem {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 2px black;
}

.navbarLayoutItem a, 
.navbarLayoutItem a:hover, 
.navbarLayoutItem a:active {
    color: black;
    text-decoration: none;
}